<head>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>
<section class="showcase">
    <header>
      <h2 class="logo">Home</h2>
      <div class="toggle"></div>
    </header>
    <video src="~/bmw.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Sheer Driving Pleasure </h2> 
      <p>I just saw a BMW driver using his indicators correctly on the motorway. Twice. Should I report the vehicle as stolen?</p>
      <a href="https://www.youtube.com/c/BMW">Explore</a>
    </div>
  
    <ul class="social">
      <li><a href="https://www.facebook.com/BMW/"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="https://twitter.com/bmw"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="https://www.instagram.com/bmw/"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
  </section>
  <div class="menu">
    <ul>
        <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">News</a>
        </li>
         <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Store">Store</a>
        </li>
     
    </ul>
  </div>