<head>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>
<section class="showcase">
    <header>
     
      <h2 class="logo">News</h2>
      <div class="toggle"></div>
    </header>
    <video src="~/bmw.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <div class="home">
        <div class="left">
          <img src="~/bmwi44.jpg" class="home-img" alt="Paper photo">

          <h2 class="heading-2">
            Electric Power on the Salzburgring: Testing the BMW i4 M50
          </h2>
          <article>
        <p> The BMW driving pleasure you know and love, plus new technology: When developing the BMW i4 M50 – the first pure electric sports car from BMW i and BMW – the focus was placed on a precise and superior chassis combined with long-distance comfort. Racing driver Charlie Martin put the vehicle and driving dynamics to the test of endurance in the at times torrential rain on the Salzburgring racing circuit – passing with flying colors.</p>
      </article>
        </div>
      

        <div class="right">
          <h3 class="heading-3">latest news</h3>
          <div class="lists">
            <div class="list">
              <img src="~/33.jpg" alt="photo 1">
              <p>Electric Power on the Salzburgring: Testing the BMW i4 M50</p>
            
            </div>

            <div class="list">
              <img src="~/34.jpg" alt="photo 2">
              <p>750-hp BMW X6 M with Akrapovic exhaust and a siren is a flashy SUV</p>
            </div>

            <div class="list">
              <img src="~/35.jpg" alt="photo 3">
              <p>BMW 7 Series G70 will go up against the all-new 2023 Genesis G90</p>
            </div>

            <div class="list">
              <img src="~/36.jpg" alt="photo 4">
              <p>BMW CONCEPT XM – Live Photos From Miami Art Basel</p>
            </div>
          </div>
        </div>
      </div>
  
  

  </section>
  <div class="menu">
    <ul>
        <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">News</a>
        </li>
         <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Store">Store</a>
        </li>
     
    </ul>
  </div>
    